<div [hidden]='!_modalService.visible'>
  <div class='container'>
    <div class='modal' >
      <div class='wrapper' #wrapper>

        <!-- modal contents are rendered here -->

        <div class='close' (click)='close()'>
          <span class='ti-close'></span>
        </div>

      </div>

      <div class='buttons'>
        <button 
          [hidden]='!button.visible'
          *ngFor='let button of _modalService.buttons.toArray()' 
          class='{{button.class}}' (click)='button.action()'>
          {{button.text}}
        </button>
      </div>
      
    </div>

    <app-overlay
      (onClick)='overlayClick($event)'>
    </app-overlay>
  </div>
</div>